//background
$bg-c1-dark: #000000;
$bg-c2-dark: #030303;
$bg-c1-light: #ffffff;
$bg-c2-light: #FFFCFC;
$bg-c1-gray: #D9D9D9;
$bg-c1-purple: #AE18E2;
$bg-c1-primary: #F8B653;
//text-color
$text-c1-light: #ffffff;
$text-c2-light: #f7f7f7;
$text-c1-dark: #000000;
$text-c2-dark: #030303;

//text-size
$text-xxs: 10px;
$text-xs: 12px;
$text-s: 14px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-2-5xl: 25px;
$text-3xl: 30px;
$text-3-5xl: 35px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
$text-7xl: 70px;
//text-font-weight
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

/**---------MIXIN---------*/
@mixin text($fs: $text-base, $fw: $text-regular, $c: $text-c1-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;

    .col {
        width: calc(100%/3);
        padding: 0 15px;
    }
}

.header {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            background-color: $bg-c1-dark;
            border: 1px solid #000000;
            position: relative;

            .navbar-brand {
                img {
                    position: absolute;
                    width: 116px;
                    height: 32px;
                    left: 24px;
                    top: 10px;
                }
            }

            .nav-tools {
                .nav-item {
                    img {}

                    span {
                        @include text($text-3xl, $text-light , $text-c1-light );
                        line-height: 36px;
                    }

                    .nav-link {
                        @include text($text-base, $text-light , $text-c2-light );
                        line-height: 19px;
                    }
                }
            }
        }

        .header-bottom {
            position: relative;
            height: 75px;

            .navbar-nav {
                position: relative;

                .nav-link {
                    @include text($text-2xl, $text-light , $text-c1-dark);
                    line-height: 24px;
                    margin-right: 24px;
                }

                .item-1 {
                    font-weight: $text-regular;
                    border-bottom: 2px solid #000000;
                }

            }
        }
    }
}

.carousel {
    height: 530px;
    background-color: $bg-c1-light;
}

.product-details {
    height: 530px;

    .container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .prod-details-left {
            display: flex;
            justify-content: center;
            width: 40%;

            .prod-img-cont {
                width: 100%;
                position: relative;
                width: 334px;
                height: 335px;
                text-align: center;
                background-color: #f8f8f8;
                top: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 220px;
                    height: 200px;
                    position: relative;
                }
            }
        }

        .prod-details-right {
            width: 60%;

            .prod-details-cont {
                padding-top: 60px;

                .item-name {
                    color: black;
                    font-weight: 300;
                    font-size: 30px;
                }

                .item-description {
                    color: #140101;
                    font-weight: 400;
                    font-size: 16px;
                }

                .item-status {
                    color: #1ED90E;
                    font-weight: 500;
                    font-size: 24px;
                }

                .item-sizes {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 40%;

                    .size-box {
                        display: block;
                        text-align: center;
                        padding: 5px 8px;
                        background-color: #ccc;
                        color: #1E1D1D;
                        font-weight: 600;
                        font-size: 24px;
                    }
                }

                .item-price {
                    padding: 12px 0 0 0;
                    color: #FC0303;
                    font-weight: 600;
                    font-size: 30px;
                }

                .btn {
                    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
                    color: #FFF8F8;
                    padding: 15px 30px;
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
    }
}

.relate-product {
    padding-bottom: 50px;

    .container {
        h3 {
            margin-top: 16px;
            text-align: center;
        }

        .row {
            .col-4 {
                height: 410px;
                padding: 16px;

                .card {
                    height: 100%;
                    width: 334px;

                    &:hover {
                        box-shadow: 1px 1px 28px -8px rgba(0, 0, 0, 0.51);
                        -webkit-box-shadow: 1px 1px 28px -8px rgba(0, 0, 0, 0.51);
                        -moz-box-shadow: 1px 1px 28px -8px rgba(0, 0, 0, 0.51);
                        transition: all 0.5s;
                    }

                    .card-body {
                        background-color: #F8F8F8;

                        .item-img {
                            position: absolute;
                            width: 220px;
                            height: 156px;
                            left: 57px;
                            top: 45px;

                            img {
                                width: 220px;
                                height: 200px;
                            }
                        }

                        .item-name {
                            color: #000000;
                            font-size: 22px;
                            font-weight: 300;
                            position: absolute;
                            width: 100%;
                            left: 18px;
                            top: 200px;
                        }

                        .item-description {
                            color: #CBC9C9;
                            font-size: 18px;
                            font-weight: 300;
                            position: absolute;
                            width: 95%;
                            height: 100px;
                            left: 18px;
                            top: 235px;
                        }
                    }

                    .card-footer {
                        padding: 0;
                        display: flex;
                        justify-content: space-between;


                        .card-footer-left {
                            background: #E1B067;
                            position: absolute;
                            width: 175px;
                            height: 64px;
                            left: 0px;
                            top: 85%;

                            button {
                                width: 100%;
                                text-align: center;
                                line-height: 45px;
                                font-size: 24px;
                            }
                        }

                        .card-footer-right {
                            background: #DEDDDC;
                            position: absolute;
                            width: 160px;
                            height: 64px;
                            right: 0px;
                            top: 85%;
                            text-align: center;

                            b {
                                line-height: 60px;
                                font-weight: 600;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.carousel {
    position: relative;

    .container {


        .carousel-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .polygon-left {}

            .main-content {
                display: flex;
                justify-content: space-around;
                align-items: center;

                img {
                    width: 821px;
                    height: 392px;
                }

                .carousel_caption {
                    h3 {
                        @include text($text-4xl, $text-light , $text-c1-dark );
                        line-height: 48px;
                    }

                    h4 {
                        @include text($text-2xl, $text-light , $text-c1-dark );
                        line-height: 24px;
                    }

                    .btn-buyNow {
                        @include text($text-2xl, $text-light , $text-c1-light );
                        line-height: 24px;
                        background-color: $bg-c1-primary;
                        padding: 13px 35px;
                        margin-top: 20px;
                    }
                }
            }

            .polygon-right {}
        }

        .bg-img-bottom {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 0;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }


}

.footer {
    height: 242px;

    .container {
        .row {
            // padding: 32px;

            .col {
                h5 {
                    font-size: 16px;
                    font-weight: 600;
                }

                a {
                    font-size: 12px;
                    color: #000000;
                }

                p {
                    font-size: 12px;
                }

                .HL {
                    font-size: 12px;
                    color: red;
                }
            }
        }

        .row-top {
            background-color: #f7f7f7;
            padding: 16px;
        }

        .row-bot {
            background-color: #ececec;
            padding: 16px;
        }
    }
}

.register-content {
    height: 538px;

    .container {
        .title {
            @include text($text-4xl, $text-regular , $text-c1-dark );
            line-height: 48px;
            margin: 30px 0 54px 0;
            text-align: center;
        }

        .row {


            .col-6 {
                margin-bottom: 27px;

                input {
                    @include text($text-3xl, $text-regular , $text-c1-dark );
                    line-height: 36px;
                    border: none;
                    border-radius: 0;
                    border-bottom: 5px solid rgba(174, 24, 226, 1);

                }
            }

            .col-6:nth-child(1),
            .col-6:nth-child(3),
            .col-6:nth-child(5) {
                padding-left: 120px;
            }

            .col-6:nth-child(2),
            .col-6:nth-child(4),
            .col-6:nth-child(6) {
                padding-left: 99px;
                padding-right: 97px;
            }

            .col-6:nth-child(6) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 75px;

                .gender {
                    @include text($text-3xl, $text-regular , $text-c1-dark );
                    line-height: 36px;

                }

                .form-check-inline {
                    display: inline-block;
                    @include text($text-3xl, $text-regular , $text-c1-dark );
                    line-height: 36px;
                    margin-right: 0;
                    margin-left: 15px;

                    .form-check-label {
                        display: flex;
                        align-items: center;
                    }

                    input[type=radio] {
                        /* hiding browser el */
                        appearance: none;
                        /* Safari support */
                        -webkit-appearance: none;
                        border: 0.2rem solid #fff;
                        background-color: $bg-c1-gray;
                        height: 50px;
                        width: 65.42056274414062px;
                        border-radius: 50%;
                        cursor: pointer;
                        box-shadow: 0 0 0 1px var(--color);
                        border-width: 0;
                        margin-left: 20px;


                        &:focus-visible {
                            outline-offset: 0;
                        }

                        &:checked {
                            box-shadow: 0 0 0 1px rgba(174, 24, 226, 1);
                            background-color: rgba(174, 24, 226, 1);
                            border-width: 5px;
                        }

                    }
                }
            }

            .col-12 {
                padding-left: 701px;
                padding-top: 60px;

                .btn-submit {
                    @include text($text-3xl, $text-regular , $text-c1-light );
                    line-height: 36px;
                    padding: 6px 98.94px 12px 87.3px;
                    background-color: $bg-c1-purple;
                    border-radius: 0;
                }
            }
        }
    }
}